{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">

{% if user.is_authenticated %}

<h1>Pessoas</h1>
<br>
<div class="card" style="width: 18rem;">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title">Mardoquel Gadi Melo</h5>
    <p class="card-text">Turma: ADS 5A </p>
    <!-- <a href="#" class="btn btn-primary">Editar</a> -->
  </div>
</div>
<br>
<div class="card" style="width: 18rem;">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title">Outro Aluno</h5>
    <p class="card-text">Turma: N/A </p>
    <!-- <a href="#" class="btn btn-primary">Editar</a> -->
  </div>
</div>
{% else %}

<h1>Login</h1>
<br/>
<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="username", placeholder="Username" required>
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" name="password", placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>

</form>

</div>

{% endif %}

{% endblock %}